html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*=============================================
 * Global layout
 ==============================================*/

body {
  margin: 0;
  color: #244751;
  background-color: #eee;
  font-family: 'Roboto Condensed', sans-serif;
}

/*===============================================
 * Main layout
 ================================================*/

nav {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0px 2em;
}

 main {
  width: 450px;
  height: auto;
  margin: 80px auto;
  background-color: #ffffff;
  padding: 10px 0;
 }

 article {
  margin: 10px auto;
  width: 90%;
  background-color: #eee;
  border: solid 2px #D3D3D3;
  border-radius: 7.5px;
}