.new-tweet {
  width: 90%;
  margin: 20px auto;
  position: relative;
  background-color: #eee;
  border: solid 2px #D3D3D3;
  border-radius: 7.5px;
  padding: 0.5em;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 5px;
}

.new-tweet h2 {
  border-bottom: solid 1px;
  padding: 1px;
  margin-top: 0;
}

.tweet-button {
  background-color: #00a087;
  color: white;
  border: solid .25px black;
  border-radius: 2.5px;
  opacity: 0.8;
  margin: 2.5px;
}

.tweet-button:hover {
  opacity: 1;
  cursor: pointer;
}

.counter {
  float: right;
  font-style: italic;
  font-size: .75em;
  padding-top: 5px;
  padding-right: 5px;
}

.counterRed {
  color: red;
}

/*===================================
      errors
=====================================*/

.if-errors p {
  color: red;
  display: none;
  font-size: 1em;
}





